* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: #fff;

}


.aside {
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    /* CONTROLLARE ALTEZZA */
    height: calc(100vh - 80px);

}


.mn_section {
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    /* CONTROLLARE ALTEZZA */
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    height: calc(100vh - 80px)


}



.aside img {
    width:60%;
    /* CAMBIARE COLORE LOGO  */
    padding-top:15px;
    color: white;
}

.aside img:nth-child(2) {
    width:100%;
    display: none;
    /* CAMBIARE COLORE LOGO  */
    /* padding-top:15px; */
    color: white;
}

.nav_bar {
    display: flex;
    flex-direction:row;
    list-style-type: none;
    justify-content:center;
    flex-wrap: wrap;
    text-transform: uppercase;

}


.sec_container{
    height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
}


.as_container {
    display: flex;
    height: calc(100% - 43px);
    flex-direction: column;
    justify-content: space-between;
}


.as_menu ul {
    margin-top:30px;
}

.nav_bar li {
    margin:20px 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;

}

li:hover{
    /* transform:scale(1.3); */
    /* padding: 5px; */
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    /* transform: scale(0.9); */
    opacity: 1;

}

.as_menu {
    color: white;
}

.as_menu li{
    list-style-type: none;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.as_menu p,
.sub_menu p {
    margin-left: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    /* opacity: 0.7; */
}

.p2 {
    display: none;
}

.vie_md {
    display: none;
}

.sub_menu p:first-child{
    border-bottom: 1px solid white;
}
 .img-center {
     display: flex;
     flex-wrap: wrap;

 }
.uno {
    display: flex;
    flex-direction: column;
    /* width: calc(100% / 6); */
    position: relative;

}

.uno i {
    position: absolute;
    opacity: 0;
    left:55%;
    top:45%;
    transform: translate(-50% , -50%);
    cursor: pointer;
}

.uno i:hover {
    transition: 0.1s ease;
    opacity: 1;

}



.uno img {
    padding: 10px;
    height: 200px;

}

.uno h5 {
    text-align: center;

    opacity: 0.7;
}

.player {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    height: 80px;
}

.ft_player {
    display: flex;
    justify-content: space-between;


}

.left_cont {
    /* background-color: red; */
    width: 30%;
}
.left_cont img, .testi_1 {
    height: 80px;
    float: left;

}

.testi_1 h5, p {
    padding-left: 5px;
}


.left_cont i {
    line-height: 80px;
    padding-left: 20px;

}

.main_cont {
    /* background-color: purple; */
    width: 50%;
    text-align: center;
    font-size: 25px;
    padding: 0 5px;

}

.main_cont i {
    padding-left: 20px;
}

.rig_cont {

    width: 25%;
}

.scroll {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 15px;
}



.scroll i{
   width: 30vw;
   text-align: center;
   border-bottom: 1px solid #fff;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h2 i {
    background:#fff;
    padding:0 10px;
}

.rig_cont{
    font-size: 20px;
    text-align: right;

}

.rig_cont i:last-child{
   width: 5vw;
   text-align: center;
   border-bottom: 1px solid #fff;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h2 i {
    background:#fff;
    padding:0 10px;
}

@media screen and (max-width:1170px) {

    .testi_1 h5, p {
        font-size: 5px;
    }

    .left_cont i {

        display: none

    }

    .aside {

        height: calc(100vh - 26px);

    }

    .mn_section {
        height: calc(100% - 80px)


    }


}

@media screen and (min-width:1011px) and (max-width:1170px){
    .aside {

        height: calc(100vh - 79px);

    }

    .sub_menu p {
        margin-bottom: 20px;

    }


}

@media screen and (max-width: 970px) {

    /* .as_menu li span {
        display: none;
    } */

    .p1 {
        display: none;
    }

    .p2 {
        display: block;
    }

    .vie_lg {
        display: none;
    }

    .vie_md {
        display: block;
    }

    .aside {
        /* CONTROLLARE ALTEZZA */
        height: calc(100vh - 17px);

    }


}

@media screen and (max-width: 768px) {

    .as_menu li span {
        display: none;
    }

    .as_menu li  {
        font-size: 30px;
        text-align: center;
    }


    .vie_md {
        display: none;
    }

    .p2 {
        display: none;
    }

    .mar_lis {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside img:nth-child(1) {
        display: none;
    }

    .aside img:nth-child(2) {
        width:100%;
        display: block;
        /* CAMBIARE COLORE LOGO  */
        /* padding-top:15px; */
        color: white;
    }

     .sub_menu  {
        display: none;
        /* opacity: 0.7; */
    }

    .img-center {
justify-content: center;


}

.uno img {
/* padding: 10px; */
height: 250px;

}



}
